#map {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  #map {
    height: 65vh;
  }
  #calendar {
    height: auto;
    padding-bottom: 20px;
  }
  .container {
    padding: 8px;
  }
  h2, h3 {
    font-size: 1em;
  }
}
